* {
    box-sizing: border-box;
}
:root {
    --primary-color: #0f1b4c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Poppins;
}

/* common */
.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}
.btn {
    display: inline-block;
    min-width: 98px;
    background: var(--primary-color);
    border-radius: 12px;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    color: #ffffff;
    padding: 18px 16px;
}
.line-clamp {
    display: -webkit-box; /* Sử dụng định dạng Box Model của WebKit */
    -webkit-box-orient: vertical; /* Sắp xếp các thành phần theo chiều dọc */
    -webkit-line-clamp: var(--line-clamp, 2); /* Số dòng tối đa hiển thị */
    overflow: hidden; /* Ẩn bớt nội dung khi vượt quá số dòng cho phép */
    text-overflow: ellipsis; /* Hiển thị dấu "..." ở cuối khi nội dung bị cắt bớt */
}

/* Header */
.fixed-header {
    background-color: #e6f0ff;
    position: sticky;
    z-index: 1;
    padding-top: 26px;
    top: -26px;
}
.hero-wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    height: calc(100vh - 90px);
    background: #e6f0ff;
}
/* navbar */
.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #fff;
    padding: 12px 0;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar .action {
    margin-left: auto;
}

.navbar ul a {
    font-weight: 500;
    font-size: 1.4rem;
    color: #4f5361;
    padding: 8px 14px;
}
.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .link-action {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--primary-color);
}

.navbar .action-btn {
    border-radius: 8px;
    padding: 13px 16px;
    margin-left: 18px;
}
.navbar .btn:hover {
    opacity: 0.9;
}

.hero {
    margin-top: 130px;
}
.hero .info {
    width: 51%;
}
.hero .sub-title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #687690;
}
.hero .tittle {
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1.19;
    color: #000336;
    margin-top: 8px;
}
.hero .desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #5a6473;
    margin-top: 30px;
}
.hero .hero-cta {
    min-width: 170px;
    border-radius: 12px;
    margin-top: 40px;
}
.hero-img {
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 100px);
    bottom: 0;
}

/* client */
.clients {
    margin-top: 79px;
    padding: 43px 0 64px;
}

.clients .row {
    display: flex;
    justify-content: space-between;
}
.clients .row-desc {
    margin-top: 23px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.25;
    color: #7d8589;
}
.clients .images {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-top: 70px;
    align-items: center;
}
.clients .images a {
    display: flex;
    align-items: center;
    padding: 0 42px;
    height: 91px;
    border-radius: 12px;
}
.clients .images a:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
/* Guides */
.guides {
    margin-top: 40px;
    padding: 93px 0 79px;
}
.guides .sub-title {
    position: relative;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    text-align: center;
    color: #000339;
}

.guides .sub-title::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.guides .desc {
    width: 459px;
    max-width: 100%;
    margin: 20px auto 0px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    text-align: center;
    color: #5a6473;
}

.list-guide {
    display: flex;
    margin-top: 70px;
    justify-content: center;
}

.guide-item {
    text-align: center;
    margin: 0 70px;
}

.list-guide .title {
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.1;
    color: #3b3c45;
    margin-top: 26px;
}
.list-guide .link {
    display: inline-block;
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #0689ff;
}

.guide-item .arrow {
    margin-left: 6px;
}

.guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 64px;
}
.guide-cta .btn {
    min-width: 170px;
}
/* Featured */
.featured {
    margin-top: 41px;
    padding: 110px 0;
    background: #f5fafe;
}
.featured .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #000339;
}
.featured .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5a6473;
}
.featured .row {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.featured .link {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.8rem;
    color: #0689ff;
}
.featured .arrow {
    margin-left: 8px;
}

.featured .list {
    display: flex;
    gap: 30px; /* Sử dụng gap để đặt khoảng cách 30px giữa các hình ảnh chỉ dùng đc vs display = flex */
    margin-top: 70px;
}

.featured .item {
    flex-grow: 1; /* Tự động mở rộng để đạt kích thước bằng nhau */
    background: #ffffff;
    border-radius: 12px;
}
.featured .item .thumb-new {
    object-fit: cover; /* Căn chỉnh hình ảnh theo tỉ lệ bảo toàn */
    width: 100%;
    max-width: 100%; /* Đảm bảo hình ảnh không tràn ra ngoài container */
    height: 227px; /* đặt tỉ lệ chiều cao của hình ảnh giống nhau */
    border-radius: 12px 12px 0 0; /* Giá trị border-radius cho các góc theo thứ tự: góc trên bên trái, góc trên bên phải, góc dưới bên phải, góc dưới bên trái */
}
.featured .item .body {
    padding: 17px 20px 24px;
    /* width: 292px; */
}

.featured .item .title {
    margin-top: 17px;
}

.featured .item .desc {
    word-wrap: break-word; /*Tự động xuống dòng khi vượt quá kích thước của thẻ*/
    word-break: break-all; /*Tách từ theo chiều ngang khi độ dài vượt quá kích thước của thẻ*/
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #a3a6ab;
    margin-top: 11px;
}

.featured .item .title a {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1;
    color: #000339;
}
.featured .item .info {
    display: flex;
    align-items: center;
    margin-top: 21px;
}
.featured .item .icon {
    margin-left: 23px;
}
.featured .item .icon:first-child {
    margin-left: 0;
}

.featured .item .label {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    text-align: center;
    color: #444444;
    letter-spacing: 0.01em;
    margin-left: 8px;
}
/* Stats */
.stats {
    margin-top: 75px;
    padding: 50px;
}

.stats .content {
    width: 1017px;
}
.stats .img-block {
    position: relative;
}
.stats .img-block,
.stats .info {
    width: 50%;
}

.stats .row {
    display: flex;
}
.stats .info {
    padding: 79px 0px 0px 165px;
}
.stats .img-block .images {
    display: block;
    object-fit: cover;
    margin-left: auto;
    width: 400px;
    height: 460px;
    margin-left: auto;
    border-radius: 12px;
}

.stats .info .sub-title {
    position: relative;
    width: 269px;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.29;
    color: #000339;
}
.stats .info .sub-title::before {
    position: absolute;
    display: block;
    content: "";
    width: 41px;
    height: 4px;
    left: 0;
    top: -10px;
    background: #000339;
    border-radius: 12px;
}

.stats .info .desc {
    width: 309px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5a6473;
}

.stats .stat-trend {
    position: absolute;
    width: 239px;
    top: 0;
    left: 0;
    padding: 45px 23px 40px 22px;
    background-color: #fff;
    border-radius: 0px 0px 12px 12px;
}
.stats .stat-trend .icon {
    margin-left: auto;
}
.stats .row .value {
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 1;
    letter-spacing: 0.01em;
    color: #000339;
}
.stats .stat-trend .desc {
    font-weight: 400;
    margin-top: 8px;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #a7a7a7;
}
.stats .stat-trend .separate {
    margin-top: 25px;
    height: 1.2px;
    background: #e9e9e9;
}
.stats .stat-avatar {
    display: flex;
    flex-wrap: wrap;
    margin-top: 26px;
    gap: 14px 16px;
}

.stats .avatar-group {
    display: flex;
}
.stats .avatar {
    width: 16px;
    height: 16px;
    margin-left: -3px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color, #fff);
    font-weight: 450;
    font-size: 0.7rem;
    text-align: center;
    letter-spacing: -0.02em;
    color: #ffffff;
}
.stats .avatar:first-child {
    margin-left: 0px;
}

.stats .row-qty {
    margin-left: 32px;
    justify-content: space-between;
    margin-top: 110px;
}
.stats .qty {
    font-weight: 600;
    font-size: 6.4rem;
    color: #000000;
}
.stats .qty-desc {
    font-weight: 500;
    font-size: 1.8rem;
    color: #7b8087;
    margin-top: 22px;
}
/* subscription */
.subscription {
    margin-top: 90px;
}
.subscription .body {
    position: relative;
    display: flex;
    height: 370px;
    align-items: center;
    background-color: #063183;
    border-radius: 20px;
}
.subscription .info {
    padding: 0 80px;
    width: 671px;
}
.subscription .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.5;
    color: #ffffff;
}
.subscription .desc {
    margin-top: 15px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #ffffff;
    opacity: 0.75;
}

.subscription .btn {
    margin-top: 20px;
    min-width: 151px;
    font-size: 1.3rem;
    color: #002366;
    background-color: #fff;
}
.subscription .image {
    position: absolute;
    bottom: 0;
    right: 221px;
}

/* footer */
.footer {
    margin-top: 55px;
    padding: 50px 58px;
}
.footer .row {
    display: flex;
    /* justify-content: space-between; */
}
.footer .column {
    max-width: 257px;
    margin-left: 187px;
}
.footer .column:first-child {
    margin-left: 0;
}
.footer .row-desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 81px;
}
.footer .row .heading {
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #1c1c1d;
}
.footer .list {
    margin-top: 42px;
}
.footer .list .item {
    margin-top: 18px;
}
.footer .item a {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #7a7a7e;
}
.footer .column .desc {
    margin-top: 42px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #7a7a7e;
}
.footer .column .social {
    display: flex;
    margin-top: 40px;
}
.footer .social-link {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    background: #f9f9f9;
}
.footer .social-link:first-child {
    margin-left: 0;
}
.footer .copyright {
    white-space: nowrap;
    /* margin-left: 730px; */
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #c2c2c2;
}
